.profile-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 10%;
  min-height: fit-content;
  background-image: url("../../assets//Home/bg2.jpg"); 
}
.profile-parent {
  display: flex;
  align-items: center;
  color: aliceblue ;
}
.profile-details {
    font-size: 24px;
    font-family: "Poppins SemiBold";
}
.profile-details-role {
    display: flex;
    flex-direction: center;
   margin: 14px 0px 24px 0px;
}
.profile-details-role h1{
    font-size: 40x;
    font-family: "cursive";
}
.primary-text {
  color: (--white);
}
.highlighted-text {
  color: rgb(233, 229, 229);
 
}
.profile-role-tagline {
  font-size: 19px;
  margin: 5px 0px 0px 0px;
  font-family: "Poppins light";
}
.profile-options .highlighted-btn {
  margin: 0 0 0 28px;
}
.profile-options .highlighted-btn:hover {
  margin: 0 0 0 28px;
  background-color: rgb(168, 0, 0);
  color:#111;
  border: 2px solid #fefdfd;
}
.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0px 0px var(--white);
  border-radius: 50%;
  height: 380px;
  width: 380px;
  margin: 0 0px 0 100px;
}
.profile-picture-background {
  height: 92%;
  width: 92%;
  background-image: url("../../assets/Home/profilepicture.jpg");
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.profile-picture-background:hover {
  transform: scale(1.07);
  transition: 1s;
}
.fa-facebook-square {
  color : rgb(132, 3, 3);
}
.fa-google-plus-square {
  color : rgb(132, 3, 3);
}
.fa-instagram {
  color : rgb(132, 3, 3);
}
.fa-twitter {
  color : rgb(132, 3, 3);
}
.fa-youtube-square {
  color : rgb(132, 3, 3);
}