.profile-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 10%;
  min-height: fit-content;
  background-image: url("../../assets//Home/bg.jpg"); 
}
.profile-parent {
  display: flex;
  align-items: center;
  color: aliceblue;
}